 .home{

  min-height:100vh;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  background:var(--bg-primary);
}

.home h1{

  font-size:60px;
  color:var(--text-primary);
}

.home p{

  margin-top:15px;
  color:var(--text-secondary);
}