/* =========================
   LIGHT THEME
========================= */

:root {

  /* Background */
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fa;
  --bg-card: #ffffff;

  /* Text */
  --text-primary: #111827;
  --text-secondary: #6b7280;

  /* Brand */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  /* Border */
  --border-color: #e5e7eb;

  /* Shadow */
  --shadow:
    0 10px 30px rgba(0,0,0,0.08);

  /* Navbar */
  --navbar-bg: rgba(255,255,255,0.9);

  /* Button */
  --btn-text: #ffffff;

  /* Radius */
  --radius: 16px;

  /* Transition */
  --transition: all 0.3s ease;
}

/* =========================
   DARK THEME
========================= */

[data-theme="dark"] {

  --bg-primary: #0f172a;
  --bg-secondary: #111827;
  --bg-card: #1e293b;

  --text-primary: #ffffff;
  --text-secondary: #94a3b8;

  --primary: #3b82f6;
  --primary-hover: #60a5fa;

  --border-color: #334155;

  --shadow:
    0 10px 30px rgba(0,0,0,0.4);

  --navbar-bg: rgba(15,23,42,0.9);

  --btn-text: #ffffff;
}